openapi: 3.0.0
info:
  title: India Exporter Buyer Search API
  description: API for searching and managing exporter/buyer company data
  version: 1.0.0
  contact:
    email: support@exportersearch.com

servers:
  - url: https://api.exportersearch.com
    description: Production server
  - url: http://localhost:3000
    description: Development server

tags:
  - name: Authentication
    description: User authentication endpoints
  - name: Search
    description: Company search endpoints
  - name: Companies
    description: Company data endpoints
  - name: Subscriptions
    description: Payment and subscription management
  - name: Admin
    description: Admin-only endpoints

paths:
  /api/auth/signup:
    post:
      tags: [Authentication]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                name:
                  type: string
                role:
                  type: string
                  enum: [EXPORTER, BUYER]
                  default: BUYER
      responses:
        '200':
          description: User created successfully
        '400':
          description: Invalid input

  /api/auth/login:
    post:
      tags: [Authentication]
      summary: Login user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Login successful
        '401':
          description: Invalid credentials

  /api/auth/logout:
    post:
      tags: [Authentication]
      summary: Logout user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logout successful

  /api/search:
    get:
      tags: [Search]
      summary: Search companies
      security:
        - bearerAuth: []
      parameters:
        - name: query
          in: query
          schema:
            type: string
          description: Search query
        - name: hsnCode
          in: query
          schema:
            type: string
          description: HSN code filter
        - name: category
          in: query
          schema:
            type: string
          description: Category filter
        - name: country
          in: query
          schema:
            type: string
          description: Country filter
        - name: minValue
          in: query
          schema:
            type: number
          description: Minimum import value
        - name: maxValue
          in: query
          schema:
            type: number
          description: Maximum import value
        - name: verified
          in: query
          schema:
            type: boolean
          description: Only verified companies
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: perPage
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      results:
                        type: array
                        items:
                          $ref: '#/components/schemas/Company'
                      pagination:
                        $ref: '#/components/schemas/Pagination'
                      limited:
                        type: boolean
        '401':
          description: Unauthorized

  /api/companies/{id}:
    get:
      tags: [Companies]
      summary: Get company details
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Company details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Company'
                  limited:
                    type: boolean
        '404':
          description: Company not found

  /api/companies/{id}/report:
    post:
      tags: [Companies]
      summary: Report a company
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: Report submitted
        '404':
          description: Company not found

  /api/subscriptions/checkout:
    post:
      tags: [Subscriptions]
      summary: Create checkout session
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [planId]
              properties:
                planId:
                  type: string
                  enum: [MONTHLY, YEARLY, CREDITS]
      responses:
        '200':
          description: Checkout session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      sessionId:
                        type: string
                      url:
                        type: string

  /api/webhooks/stripe:
    post:
      tags: [Subscriptions]
      summary: Stripe webhook handler
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook processed

  /api/admin/companies/{id}/verify:
    post:
      tags: [Admin]
      summary: Verify or reject a company
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [VERIFIED, REJECTED]
      responses:
        '200':
          description: Company verification updated
        '403':
          description: Forbidden - Admin only

  /api/admin/ingest:
    post:
      tags: [Admin]
      summary: Trigger data ingestion
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                csvUrl:
                  type: string
                  format: uri
      responses:
        '200':
          description: Ingestion started
        '403':
          description: Forbidden - Admin only

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Company:
      type: object
      properties:
        id:
          type: string
        companyName:
          type: string
        fullAddress:
          type: string
        country:
          type: string
        city:
          type: string
        contactPerson:
          type: string
        email:
          type: string
        phone:
          type: string
        website:
          type: string
        importedProducts:
          type: array
          items:
            type: string
        exportedProducts:
          type: array
          items:
            type: string
        importValue:
          type: number
        exportValue:
          type: number
        categories:
          type: array
          items:
            type: string
        hsnCodes:
          type: array
          items:
            type: string
        verificationStatus:
          type: string
          enum: [PENDING, VERIFIED, REJECTED, FLAGGED]
        dataSource:
          type: string
        createdAt:
          type: string
          format: date-time

    Pagination:
      type: object
      properties:
        page:
          type: integer
        perPage:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    Error:
      type: object
      properties:
        success:
          type: boolean
          default: false
        error:
          type: string
